<!-- views/partials/header.ejs -->

<h1>
  TinyApp!
</h1>

<div style="margin:30px;">
  <% if (!user_id) {%>
    <a href="/login" style="margin:15px">Log in</a>
    <a href="/register" style="margin:15px">Register</a>
  <% } else { %>
  <div>
    You are logged in as: <%= userEmail %>
  </div>
  <form style="display:inline;" method="POST" action="/logout" >
    <input type="submit" value="Log out">
  </form>
  <% } %>
</div>



