<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <ul>
      <% for (let tinyURL in urls) {%>
    <li>
      <%= tinyURL %>: <%= urls[tinyURL]; %>
    </li>
      <%} %>
  </ul>
  <a>Shorten a new URL link</a>
</body>
</html>