<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form method="POST" action="/login" >
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" placeholder="your@email.com" style="width: 200px">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Type your password">
    <input type="submit" value="Log in">
  </form>
  <nav> <a href="/urls">Home</a> </nav>
</body>